@model Clubs

@{
    Layout = "_DefaultLayout";
    ViewBag.Title = "ClubDetails";
}


<title>Club Details - Dream League Soccer</title>


<h2 class="cover-heading">CLUB DETAILS</h2>

<table class="table table-dark" border="1">
    <thead>
        <tr>
            <th scope="col">Club Name</th>
            <th scope="col">Club Manager</th>
            <th scope="col">Club Details</th>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.Identity.Name == "Admin")
                {
                    <th scope="col" colspan="2">Actions</th>
                }
            }
                </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ClubName</td>
            <td>@Model.ClubManager</td>
            <td>@Model.ClubDetails</td>

            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.Identity.Name == "Admin")
                {

                    <td>
                        <form>
                            <a asp-controller="Clubs" asp-action="UpdateClub" class="btn btn-sm btn-warning"
                               asp-route-ClubId="@Model.ClubID">
                                UPDATE
                            </a>
                            <input type="hidden" name="ClubId" value="@Model.ClubID" />
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Clubs" asp-action="DeleteClub" method="post">
                            <input type="hidden" name="ClubId" value="@Model.ClubID" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                DELETE
                            </button>
                        </form>
                    </td>
                }
            }
                </tr>
    </tbody>
</table>

<table class="table table-dark" border="1">
    <thead>
        <tr>
            <th scope="col" colspan="100">Players Signed</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            @foreach (var p in ViewBag.Players)
            {
                <td>@p.PlayerName</td>
            }
        </tr>
    </tbody>
</table>

<a asp-controller="Players" asp-action="ManagePlayers" class="btn btn-lg btn-secondary">ADD PLAYER</a>